<div class="row">

	<div class="col-md-6 col-md-offset-3">

		<h2 class="text-center">Your coffee run page has been created!</h2>


		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title text-center">Here is the link your run page</h3>
		  </div>
		  <div class="panel-body text-center">
			<p><a data-bind="attr: { href: runaddress, title: runaddress }, text: runaddress ">
			</a></p>

		  </div>
		</div>
		
		<h3 class="text-center">Next Steps:</h4>
		
		<p><b>1. Send the link above to your team.</b> On most browsers, you can right-click
		and select "copy link."</p>	
		
		<p><b>2. Click on the link above</b> to visit your run page. Your team's orders will appear on the
		run page as they place them.</p>	

	</div>

</div>