<div class="row">

	<div class="col-md-6 col-md-offset-3">

		<h2 class="text-center">Your coffee run page has been created!</h2>


		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title text-center">Address of your run page</h3>
		  </div>
		  <div class="panel-body text-center">
			<a data-bind="attr: { href: runaddress, title: runaddress }, text: runaddress ">
			</a>
		  </div>
		</div>

		<h3>Next steps:</h3>

		<h4>1. Send your team a link to the run page</h4>
		<p>Copy the address of your run's page and send it to your team. They can use the run page to place their orders.</p>

		<h4>2. Track everyone's orders</h4>
		<p>Your team's orders will appear on the run page as they place them. Go to your run page to see them. </p>


	</div>

</div>