<div class="row">

	<div class="col-md-6 col-md-offset-3">

		<h1 class="text-center">Your personal coffee run page has been created!</h1>

		<p>Here is the address of your run's page: 

			<a data-bind="attr: { href: runaddress, title: runaddress }, text: runaddress ">
			</a>

		</p>

		<h2 class="text-center">Next steps:</h2>

		<h3>1. Send your team a link to the run page</h3>
		<p>Copy the address of your run's page and send it to your team. They can use the run page to place their orders.</p>

		<h3>2. Track everyone's orders</h3>
		<p>Your team's orders will appear on the run page as they place them. </p>


	</div>

</div>