<div class="row">
  
    <div class="col-md-12">
          <h2><span data-bind="text:owner"></span> is doing a Coffee Run.</h2>
    </div>

    <div class="col-md-3">
        <h4>Leaving in: <span data-bind="text: expirytext"></span> minutes.</h4>
    </div>

    <div class="col-md-3">
        <h4>Maximum cups: <strong data-bind="text: maxcups"></strong> </h4>
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <h4>Get your order in!</h3>

        <form data-bind="submit: addOrder" class="form" role="form">
          <div class="form-group">
            <label for="name">Your name</label> 
            <input class="form-control" id="name" data-bind="value: newOrderOwner" placeholder="What is your name?" />
          </div>
          <div class="form-group">
            <label for="order">Your order</label> 
            <input class="form-control" id="order" data-bind="value: newOrderCoffee" placeholder="What coffee do you want?" />
          </div>

            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h4>Here are everyone's orders:</h4>
        <table class="table">
            <thead><tr>
                <th>Owner</th><th>Order</th>
            </tr></thead>
            <tbody data-bind="foreach: orders">
            <tr>
                <td data-bind="text: owner" /></td>
                <td data-bind="text: order" /></td>
            </tr>     
            </tbody>
        </table>
    </div>
</div>

